<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Content">
    <f:spaceless>
        <div class="row">
            <div class="col-md-6">
                <h1><f:translate key="LLL:EXT:dv_logs/Resources/Private/Language/locallang_mod.xlf:mlang_tabs_tab" /></h1>
            </div>
            <div class="col-md-6 text-end">
                <f:form action="delete" method="post" arguments="{fileName: activeFile}" class="d-inline">
                    <button type="submit" class="btn btn-danger me-2">
                        <f:translate key="LLL:EXT:dv_logs/Resources/Private/Language/locallang_mod.xlf:delete_log" />
                    </button>
                </f:form>
                <f:be.link route="dv_logs" parameters="{action: 'list'}" class="btn btn-default">
                    <f:translate key="LLL:EXT:dv_logs/Resources/Private/Language/locallang_mod.xlf:back_to_list" />
                </f:be.link>
            </div>
        </div>

        <div class="row">
            <f:if condition="{logEntries}">
                <div class="col-md-12">
                    <div class="panel panel-space panel-default recordlist">
                        <div class="panel-heading alert-info">
                            <h4><f:translate key="LLL:EXT:dv_logs/Resources/Private/Language/locallang_mod.xlf:log_content" />: {activeFile} (<f:count>{logEntries}</f:count> <f:translate key="LLL:EXT:dv_logs/Resources/Private/Language/locallang_mod.xlf:entries" />)</h4>
                        </div>
                        <div class="table-fit">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th><f:translate key="LLL:EXT:dv_logs/Resources/Private/Language/locallang_mod.xlf:datetime" /></th>
                                    <th><f:translate key="LLL:EXT:dv_logs/Resources/Private/Language/locallang_mod.xlf:level" /></th>
                                    <th><f:translate key="LLL:EXT:dv_logs/Resources/Private/Language/locallang_mod.xlf:message" /></th>
                                </tr>
                                </thead>
                                <tbody>
                                <f:for each="{logEntries}" as="entry">
                                    <tr>
                                        <td>{entry.datetime}</td>
                                        <td>
                                            <f:comment><!-- Show badge color based on severity --></f:comment>
                                            <f:switch expression="{entry.level}">
                                                <f:case value="critical">
                                                    <f:variable name="badgeColorClasses">bg-danger text-bg-danger border-warning</f:variable>
                                                </f:case>
                                                <f:case value="error">
                                                    <f:variable name="badgeColorClasses">bg-danger text-bg-danger</f:variable>
                                                </f:case>
                                                <f:case value="warning">
                                                    <f:variable name="badgeColorClasses">bg-warning text-bg-warning</f:variable>
                                                </f:case>
                                                <f:case value="notice">
                                                    <f:variable name="badgeColorClasses">bg-info text-bg-info</f:variable>
                                                </f:case>
                                                <f:case value="info">
                                                    <f:variable name="badgeColorClasses">bg-success text-bg-success</f:variable>
                                                </f:case>
                                                <f:defaultCase>
                                                    <f:variable name="badgeColorClasses">bg-secondary text-bg-secondary</f:variable>
                                                </f:defaultCase>
                                            </f:switch>

                                            <f:comment><!-- dont output a(n empty) badge, if not level is given --></f:comment>
                                            <f:if condition="{entry.level}">
                                                <span class="{badgeColorClasses}">{entry.level}</span>
                                            </f:if>
                                        </td>
                                        <td>
                                            <pre style="white-space: pre-wrap;">{entry.message}</pre>
                                        </td>
                                    </tr>
                                </f:for>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </f:if>
        </div>

        <div class="row">
            <div class="col-md-12 text-center mt-3 mb-3">
                <f:be.link route="dv_logs" parameters="{action: 'list'}" class="btn btn-default">
                    <f:translate key="LLL:EXT:dv_logs/Resources/Private/Language/locallang_mod.xlf:back_to_list" />
                </f:be.link>
            </div>
        </div>
    </f:spaceless>
</f:section>

</html>
